;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]


 :dependencies
 [[lilactown/helix "0.1.8"]
  [rm-hull/monet "0.3.0"]
  [cljs-http "0.1.46"]
  ]

 :dev-http {9000 "public"}
 :builds
 {:helix
  {:target :browser
   :modules {:main {:init-fn pbranes.helix.app/init!}}}}}
